.filter-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    }
    .filter_dropdown{
        display: flex;
        flex-direction: row;
    }

    .date-picker-input {
        display: flex;
        align-items: center;
        position: relative;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 8px 10px;
        width: 170px;
        z-index: 9999;
        cursor: pointer;
    
        input {
          width: 100%;
          border: none;
          outline: none;
          padding-right: 30px; 
        }
    
        .date-picker-icon {
          position: absolute;
          right: 10px;
          color: black;
        }
      }
    
    // .react-datepicker-wrapper {
    //   width: 170px;
    //   z-index: 9999;
    // }
  

  .datepicker-popper {
    z-index: 9999 !important;
  }
  

  .search-container {
    position: relative;
    display: flex;
    align-items: center;
    color: black;
    
    input {
      width: 170px;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      outline: none;
    }
    .search-icon {
      position: absolute;
      right: 10px;
      color: #888;
      cursor: pointer;
      z-index: 10000;
    }
  }


  .date-picker-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    
    input {
      width: 170px;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      outline: none;
    }
    .date-picker-icon {
      align-self: center;
      position: absolute;
      right: 10px;
      color: #888;
      cursor: pointer;
      z-index: 10000;
    }
  }