.task-card {
    padding: 10px;
    margin: 5px;
    background-color: #fff;
    cursor: grab;
    border: 1px solid #000;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.2s ease-in-out;
    position: relative;
    &.is-dragging {
      opacity:1;
      // background-color: #ccc;
    }
    // &.preview-style {
    //   transform: scale(1.05);
    //   opacity: 0.95;
    //   box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
    // }

    .task-text {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: block;
      width: 70%;
    }
  }


.custom-tooltip {
  position: fixed;
  background-color: black;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;
  transform: translateX(-50%);
  pointer-events: none;
  z-index: 9999;
}


.space-between{
  display: flex;
  justify-content: space-between;
}


.drag-preview-hidden {
  position: absolute;
  top: -1000px;
  left: -1000px;
  visibility: hidden;
  pointer-events: none;
}


  